body{
    background-color: black;
}

button{
    background-color: black;
    color: #fff;
    display: block;
    font-size: 13px;
    border: solid yellow;
    border-radius: 9px;
    padding: 0.7em 1.5em;
   position: absolute;
   top: 50%;
   left: 45%;  
}

.btn:hover{
    box-shadow: 0 0 20px 5px rgb(233, 249, 49);
}

.btn{
    transition: box-shadow 500ms ease-in-out; color: 1000ms ease-in-out;   
}